{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}{% if category.meta_name %}{{ category.meta_name }}{% else %}{% endif %}{% endblock %}
{% block keywords %}{% if category.meta_keywords %}{{ category.meta_keywords }}{% else %}{% endif %}{% endblock %}
{% block description %}{% if category.meta_description %}{{ category.meta_description }}{% else %}{% endif %}{% endblock %}
{% block content %}

<section class="gray-bg stp-bot pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="fl-wrap post-container">
                    <div class="fl-wrap content-box">
                        <div id="comments" class="single-post-comm">
                            <div class="clearfix"></div>
                            <div id="addcom" class="clearafix">
                                <div id="need_consultation" class="pr-subtitle">Нужна консультация?</div>
                                <div class="comment-reply-form fl-wrap">
                                    <form id="contactForm" class="add-comment custom-form">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" placeholder="Ваше Имя *" value="" id="input_name" />
                                                </div>
                                                <div class="col-md-6">
                                                    <input onKeyPress="inputFilter()" type="text" placeholder="Телефон *" value="" id="input_phone" />
                                                </div>
                                            </div>
                                            <textarea placeholder="Ваш комментарий:" id="input_comment"></textarea>
                                        <button class="btn" id="submitForm" form="contactForm"><i class="fa fa-angle-right"></i><span>Задать вопрос</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fl-wrap limit-box"></div>
    </div>
</section>

<script>

window.onload = function() {
    document.getElementById('submitForm').addEventListener('click', function(event) {
        event.preventDefault();
    }, false);
};

function inputFilter(){
    if (event.keyCode < 48 || event.keyCode > 57) {
        if (event.keyCode != 46){
            event.returnValue= false;
        }
    }
    
};
</script>

{% endblock %}
