{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}

<section class="gray-bg stp-bot pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="fl-wrap post-container">
                    <div class="fl-wrap content-box">
                        <div id="comments" class="single-post-comm">
                            <div class="clearfix"></div>
                            <div id="addcom" class="clearafix">
                                <div id="need_consultation" class="pr-subtitle">Нужна консультация?</div>
                                <div class="comment-reply-form fl-wrap">
                                    <form id="add-comment" class="add-comment custom-form">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" placeholder="Your Name *" value="" />
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" placeholder="Email Address*" value="" />
                                                </div>
                                            </div>
                                            <textarea placeholder="Your Comment:"></textarea>
                                        </fieldset>
                                        <button class="btn"><i class="fa fa-angle-right"></i><span>Задать вопрос</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fl-wrap limit-box"></div>
    </div>
</section>

{% endblock %}
