{% extends 'baseapp/category/base_category.html' %}

{% load static %}

{% block content %}
<div class="content">
    <section class="no-padding" data-scrollax-parent="true">
        <div class="parallax-inner page-title-wrap">
            <div class="bg" data-bg="{% static 'images/as_banner/3.jpg' %}" data-scrollax="properties: { translateY: '40%' }"></div>
            <div class="parallax-wrap">
                <div class="container">
                    <div class="page-title">
                        <h3>{{ category.title }}</h3>
                    </div>
                    <div class="hero-scroll-down-notifer  ">
                        <div class="scroll-down-wrap ">
                        </div>
                    </div>
                    <div class="pw_dec"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="breadcrumbs fl-wrap">
        <div class="container">
            <div class="breadcrumbs-list">
                <a href="{% url 'show_index_page' %}">Главная</a>
                <a href="{% url 'show_corporate_client_page' %}">{{ category.parent_category.title }}</a>
                <span>{{ category.title }}</span>
            </div>
        </div>
    </div>
    <section data-scrollax-parent="true">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-title fl-wrap">
                        <h2 class="con-heading">{{ category.title }}</h2>
                    </div>
                    <div class="about-wrap">
                        <p>{{ category.description | linebreaksbr }}</p>
                        <a href="#need_consultation" class="btn float-btn"><span>Заказать товар</span></a>
                        {% comment %} <a href="#" class="btn as-btn-white"><span>Заказать товар</span></a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="about-img fl-wrap">
                        <img src="{% if category.picture %}{{ category.picture.url }}{% else %}{% static 'images/folio/1.jpg' %}{% endif %}" class="respimg" alt="{{ category.title }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gray-bg small-top_padding stp-bot">
        <div class="hex-bg"><span class="hex hex1"></span><span class="hex hex2"></span><span class="hex hex3"></span></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="fl-wrap post-container">
                        <!-- post-->
                        <article class="post single-post">
                            <div class="post-content fl-wrap">
                                <h4 class="post-title">Описание конструкции секционных автоматических противопожарных ворот</h4>
                                <div class="clearfix"></div>
                                <p>
                                    С точки зрения конструкции, эти ворота представляют собой стандартные секционные модели, но обладающие повышенными
                                    огнестойкими свойствами. Полотно изготовлено из сэндвич-панелей, внутренний слой которых состоит из минераловаты. 
                                    Для герметизации по периметру ограждения защищены дополнительным уплотнителем. Поверхность профилей и рамы окрашена 
                                    либо обработана таким образом, чтобы также выдерживать воздействие высоких температур.
                                    К преимуществам этих систем можно еще отнести возможность монтажа в небольших проемах. Достигается это за счет продуманности 
                                    способа открывания и возможности выбора конкретной модели в зависимости от имеющихся размеров притолоки. В результате ворота не занимают много места, что 
                                    особенно актуально для небольших помещений, так как заметно экономят полезную площадь.
                                    К особенностям, которые стоит отметить отдельно, относится то, что производителю удалось добиться уменьшения веса конструкции. На современном российском рынке 
                                    противопожарные ворота бренда «ДорХан» являются одними из самых легких.
                                </p>
                                <span class="fw-separator fl-wrap"></span>
                            </div>
                            <div class="post-content fl-wrap">
                                <h4 class="post-title">От чего зависит цена противопожарных ворот</h4>
                                <div class="clearfix"></div>
                                <p>
                                    Стоимость конструкций с повышенной устойчивостью к огню и возгоранию складывается из нескольких факторов:
                                </p>
                                <ol class="as-list-dot">
                                    <li class="as-li-left">Размеры противопожарных ворот: они устанавливаются в проем, поэтому его площадь будет влиять на цену</li>
                                    <li class="as-li-left">Способ работы: есть варианты с механическим и автоматическим принципом действия. Автоматические противопожарные ворота позволят управлять конструкцией дистанционно. При этом, если электричество по какой-либо причине отключится, их можно будет открыть и закрыть вручную</li>
                                    <li class="as-li-left">Способ закупки: мы предлагаем продажу противопожарных ворот оптом и в розницу</li>
                                    <li class="as-li-left">Дополнительные услуги по доставке и установке</li>
                                </ol>
                                <span class="fw-separator fl-wrap"></span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="fl-wrap limit-box"></div>
        </div>
    </section>


</div>

{{ block.super }}
{% endblock %}