{% extends 'baseapp/category/base_category.html' %}

{% load static %}

{% block title %}{% if category.meta_title %}{{ category.meta_title }}{% else %}{% endif %}{% endblock %}
{% block keywords %}{% if category.meta_keywords %}{{ category.meta_keywords }}{% else %}{% endif %}{% endblock %}
{% block description %}{% if category.meta_description %}{{ category.meta_description }}{% else %}{% endif %}{% endblock %}

{% block content %}
<div class="content">
    <section class="no-padding" data-scrollax-parent="true">
        <div class="parallax-inner page-title-wrap">
            <div class="bg" data-bg="{% static 'images/as_banner/3.jpg' %}" data-scrollax="properties: { translateY: '40%' }"></div>
            <div class="parallax-wrap">
                <div class="container">
                    <div class="page-title">
                        <h3>{{ category.title }}</h3>
                    </div>
                    <div class="hero-scroll-down-notifer  ">
                        <div class="scroll-down-wrap ">
                        </div>
                    </div>
                    <div class="pw_dec"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="breadcrumbs fl-wrap">
        <div class="container">
            <div class="breadcrumbs-list">
                <a href="{% url 'show_index_page' %}">Главная</a>
                <a href="{% url 'show_private_client_page' %}">{{ category.parent_category.title }}</a>
                <span>{{ category.title }}</span>
            </div>
        </div>
    </div>
    <section data-scrollax-parent="true">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-title fl-wrap">
                        <h2 class="con-heading">{{ category.title }}</h2>
                    </div>
                    <div class="about-wrap">
                        <p>{{ category.description | linebreaksbr }}</p>
                        <a href="#need_consultation" class="btn float-btn"><span>Заказать товар</span></a>
                        {% comment %} <a href="#" class="btn as-btn-white"><span>Заказать товар</span></a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="about-img fl-wrap">
                        <img src="{% if category.picture %}{{ category.picture.url }}{% else %}{% static 'images/folio/1.jpg' %}{% endif %}" class="respimg" alt="{{ category.title }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gray-bg small-top_padding stp-bot">
        <div class="hex-bg"><span class="hex hex1"></span><span class="hex hex2"></span><span class="hex hex3"></span></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="fl-wrap post-container">
                        <!-- post-->
                        <article class="post single-post">
                            <div class="post-content fl-wrap">
                                <h4 class="post-title">Конструкция</h4>
                                <div class="clearfix"></div>
                                <p>
                                    В комплект MASTER включают:
                                </p>
                                <ol class="as-list-dot">
                                    <li class="as-li-left">Винт крепления крышки</li>
                                    <li class="as-li-left">Корпус, цепь, замок, анкерный болт</li>
                                    <li class="as-li-left">Защитную крышку из окрашенной стали</li>
                                    <li class="as-li-left">Двигатель 220 В с защитой от перегрева</li>
                                    <li class="as-li-left">Каркас из окрашенной стали</li>
                                    <li class="as-li-left">Встроенный блок управления и расцепитель</li>
                                    <li class="as-li-left">Направляющий шкив и ролик из нейлона</li>
                                </ol>
                                <span class="fw-separator fl-wrap"></span>
                                <p>
                                    В модели SLAVE к этому набору добавляют противовес с нейлоновым роликом и узел крепления цепи.
                                </p>
                            </div>
                            <div class="post-content fl-wrap">
                                <h4 class="post-title">Способы монтажа</h4>
                                <div class="clearfix"></div>
                                <p>
                                    Цепные барьеры DoorHan устанавливают на бетонное основание, используя анкерные болты. Стойку монтируют на бетонируемой
                                    поверхности. Глубина зависит от типа грунта, уровня промерзания почвы. В месте монтажа не должно быть электрических кабелей, 
                                    газовых или водопроводных труб – любых препятствий на пути движения цепи.
                                </p>
                            </div>
                            <div class="post-content fl-wrap">
                                <h4 class="post-title">Преимущества</h4>
                                <div class="clearfix"></div>
                                <p>
                                    К достоинствам предлагаемых цепных барьеров относят:
                                </p>
                                <ol class="as-list-dot">
                                    <li class="as-li-left">Механизм расцепления для управления вручную при отключении электроэнергии</li>
                                    <li class="as-li-left">2 вида желобов встраиваемого и накладного типа (опционально), скрывающих цепь от наезда автотранспорта</li>
                                    <li class="as-li-left">Входящий в набор блок управления, встроенный в корпус стойки</li>
                                    <li class="as-li-left">Возможность установки фотоэлементов без использования новых столбов, упрощающая монтаж</li>
                                    <li class="as-li-left">Стальной антивандальный корпус для защиты механизмов от царапин, ударов или атмосферных осадков</li>
                                </ol>
                                <span class="fw-separator fl-wrap"></span>
                                <p>
                                    В течение трех лет с момента приобретения действует гарантия на работоспособность цепного барьера ДорХан.
                                </p>
                               
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="fl-wrap limit-box"></div>
        </div>
    </section>


</div>

{{ block.super }}
{% endblock %}