{% extends 'baseapp/category/base_category.html' %}

{% load static %}

{% block content %}
<div class="content">
    <section class="no-padding" data-scrollax-parent="true">
        <div class="parallax-inner page-title-wrap">
            <div class="bg" data-bg="{% static 'images/as_banner/3.jpg' %}" data-scrollax="properties: { translateY: '40%' }"></div>
            <div class="parallax-wrap">
                <div class="container">
                    <div class="page-title">
                        <h3>О компании</h3>
                    </div>
                    <div class="hero-scroll-down-notifer  ">
                        <div class="scroll-down-wrap ">
                        </div>
                    </div>
                    <div class="pw_dec"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="breadcrumbs fl-wrap">
        <div class="container">
            <div class="breadcrumbs-list">
                <a href="{% url 'show_index_page' %}">Главная</a><span>О компании</span>
            </div>
        </div>
    </div>
    <section class="gray-bg small-padding half-bg_dec">
        <div class="container">
            <div class="main-section_text-block fl-wrap">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Наши преимущества</h4>
                        <h2>Заминаемся установкой автоматических ворот с 2014 года.<br> В штате три монтажные бригады.</h2>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <p>
                            Вы получите высококлассный сервис по подбору и монтажу автоматических секционных ворот.
                            Мы всегда на связи и готовы ответить на ваши вопросы.
                            Купить ворота и автоматику у нас Вы можете за наличный и безналичный расчёт с НДС и без НДС.
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="cards-wrap fl-wrap">
                <div class="row">
                    <!--card item -->
                    <div class="col-md-4">
                        <a class="content-inner fl-wrap" href="#">
                            <div class="content-front">
                                <div class="cf-inner">
                                    <div class="inner">
                                        <div class="dec-icon">
                                            <i class="fal fa-tools"></i>
                                        </div>
                                        <h2>Профессиональная команда</h2>
                                        <p>
                                            Квалифицированный монтажный сервис. Опыт установки автоматических ворота более 10 лет. 
                                        </p>
                                    </div>
                                    <div class="serv-num">01.</div>
                                </div>
                            </div>
                            <div class="content-back">
                                <div class="overlay"></div>

                            </div>
                        </a>
                    </div>
                    <!--card item end -->
                    <!--card item -->
                    <div class="col-md-4">
                        <a class="content-inner fl-wrap" href="serv-single.html">
                            <div class="content-front">
                                <div class="cf-inner">
                                    <div class="inner">
                                        <div class="dec-icon">
                                            <i class="fal fa-truck-plow"></i>
                                        </div>
                                        <h2>Гарантии</h2>
                                        <p>
                                            Сервисное обслуживание устанавливаемой нами продукции. Сезонная регулировка и настройка автоматических систем.
                                        </p>
                                    </div>
                                    <div class="serv-num">02.</div>
                                </div>
                            </div>
                            <div class="content-back">
                                <div class="overlay"></div>
                            </div>
                        </a>
                    </div>
                    <!--card item end -->
                    <!--card item -->
                    <div class="col-md-4">
                        <a class="content-inner fl-wrap" href="serv-single.html">
                            <div class="content-front">
                                <div class="cf-inner">
                                    <div class="inner">
                                        <div class="dec-icon">
                                            <i class="fal fa-pencil-ruler"></i>
                                        </div>
                                        <h2>Замер и консультация</h2>
                                        <p>
                                            Вызов специалиста на замер и консультацию бесплатно.
                                            Произведем расчет на месте и оговорим сроки изготовления.
                                        </p>
                                    </div>
                                    <div class="serv-num">03.</div>
                                </div>
                            </div>
                            <div class="content-back">
                                <div class="overlay"></div>
                            </div>
                        </a>
                    </div>
                    <!--card item end -->
                </div>
            </div>
        </div>
        <div class="hex-bg"><span class="hex hex1"></span><span class="hex hex2"></span><span class="hex hex3"></span></div>
    </section>
    <!--section end-->
    <!--section -->
    <section data-scrollax-parent="true">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-title fl-wrap">
                        <h2 class="con-heading">О нас</h2>
                    </div>
                    <div class="about-wrap">
                        <p>
                            ООО «АВР» - Основана в 2014 году. Специализируемся на продаже и установке автоматических ворота, секционных ворот, роль ставен, шлагбаумов, гаражных ворот на ручном и автоматическом приводе всех существующих на рынке России производителей. Являемся официальными представителями российского бренда Дорхан (Doorhan). Имеем опыт установки и обслуживания промышленных въездных автоматизированных систем. 
                        </p>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="about-img fl-wrap">
                        <img src="{% static 'images/folio/1.jpg' %}" class="respimg" alt="">
                        <div class="about-img-title ait_2 color-bg" data-scrollax="properties: { translateY: '100px' }">ООО "АВР"</div>
                    </div>
                    <div class="hero-counter_wrap darkbg_2">
                        <div class="hero-counter-slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!--hc_item  --> 
                                    <div class="swiper-slide">
                                        <div class="hc_item fl-wrap">
                                            <div class="hc-item_num">700 +</div>
                                            <div class="hc-item_title">Ворот</div>
                                        </div>
                                    </div>
                                    <!--hc_item end   -->
                                    <!--hc_item  -->
                                    <div class="swiper-slide">
                                        <div class="hc_item fl-wrap">
                                            <div class="hc-item_num">1500 +</div>
                                            <div class="hc-item_title">Автоматики</div>
                                        </div>
                                    </div>
                                    <!--hc_item end   -->
                                    <!--hc_item  -->
                                    <div class="swiper-slide">
                                        <div class="hc_item fl-wrap">
                                            <div class="hc-item_num">2500 +</div>
                                            <div class="hc-item_title">Рольставней</div>
                                        </div>
                                    </div>
                                    <!--hc_item end   -->
                                </div>
                            </div>
                        </div>
                        <div class="hero-counter-cont_wrap ">
                            <div class="hcc_btn hcc-prev"><i class="fas fa-caret-left"></i></div>
                            <div class="hcc_btn hcc-next"><i class="fas fa-caret-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gray-bg  ">
        <div class="hex-bg"><span class="hex hex1"></span><span class="hex hex2"></span><span class="hex hex3"></span></div>
        <div class="hex-bg hex-bg2"><span class="hex hex1"></span><span class="hex hex2"></span><span class="hex hex3"></span></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-title align-text">
                        <h2>Почему Вы должны выбрать нас?</h2>
                        <div class="st-text fl-wrap">
                            <p>
                                Учитывая то, что на рынке по установке автоматических ворота, роль ставен, гаражных ворот и автоматики в частности, большая конкуренция. Выделяем ряд преимуществ нашей компании перед конкурентами, которые служат своего рода устными гарантиями перед вами
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-6">
                        <div class="card-item fl-wrap">
                            <i class="fal fa-wind-turbine"></i>
                            <span class="card-item_num">01.</span>
                            <h4>Цена</h4>
                            <p>Дилерские цены, без посредников и лишних накруток.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-item fl-wrap">
                            <i class="fal fa-microchip"></i>
                            <span class="card-item_num">02.</span>
                            <h4>Контроль</h4>
                            <p>Строгий контроль выполнения работ по монтажу.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-item fl-wrap">
                            <i class="fal fa-tools"></i>
                            <span class="card-item_num">03.</span>
                            <h4>Гарантия</h4>
                            <p>Помимо заводской гарантии даём личную гарантию на монтажные работы.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-item fl-wrap">
                            <i class="fal fa-user-hard-hat"></i>
                            <span class="card-item_num">04.</span>
                            <h4>Обслуживание</h4>
                            <p>Выбрав нас, вы получаете бессрочное обслуживание установленной нами продукции.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{ block.super }}
{% endblock %}