{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{% endif %}{% endblock %}
{% block keywords %}{% if page.meta_keywords %}{{ page.meta_keywords }}{% else %}{% endif %}{% endblock %}
{% block description %}{% if page.meta_description %}{{ page.meta_description }}{% else %}{% endif %}{% endblock %}

{% block content %}
<div class="content">
    <!-- section -->
    <section class="no-padding" data-scrollax-parent="true">
        <div class="parallax-inner page-title-wrap">
            <div class="bg" data-bg="{% static 'images/as_banner/3.jpg' %}" data-scrollax="properties: { translateY: '40%' }"></div>
            <div class="parallax-wrap">
                <div class="container">
                    <div class="page-title">
                        <h3>Корпоративному клиенту</h3>
                        <p>
                            Установка автоматических ворот в Белгороде на производстве, складах, ангарах 
                            осуществляем силами команды профессиональных монтажников, прошедших курс обучения на заводе «Doorhan».
                        </p>
                    </div>
                    <div class="hero-scroll-down-notifer  ">
                        <div class="scroll-down-wrap ">
                        </div>
                    </div>
                    <div class="pw_dec"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section  end-->
    <div class="breadcrumbs fl-wrap">
        <div class="container">
            <div class="breadcrumbs-list">
                <a href="{% url 'show_index_page' %}">Главная</a><span>Корпоративному клиенту</span>
            </div>
        </div>
    </div>
    <section class="gray-bg small-padding" id="sec2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-title align-text" style="padding-top: 0">
                        {% comment %} <h4>Shop Updates</h4>
                        <h2>Latest Store Offers</h2> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                </div>
            </div>
            <!-- portfolio -->
            <div class="gallery-items grid-small-pad lightgallery">
                <!-- gallery-item -->
                {% for item in corporate_categories %}
                <div class="gallery-item sale">
                    <div class="det-box">
                        <a href="{% url 'show_category' cpu_slug=item.cpu_slug %}" class="det-box-media dbm-hid"><span>Подробнее</span><img src="{% if item.picture %}{{ item.picture.url }}{% else %}{% static 'images/shop/1.jpg' %} {% endif %}" alt="" class="respimg">
                        </a>
                        <div class="det-box-ietm dbi_shop fl-wrap">
                            <h3><a href="{% url 'show_category' cpu_slug=item.cpu_slug %}">{{ item.title }}</a></h3>
                            <p>
                                {{ item.description | linebreaksbr }}
                            </p>

                            <div class="grid-item_price fl-wrap">
                                <a href="{% url 'show_category' cpu_slug=item.cpu_slug %}" class="add_cart"><span>Подробнее</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- gallery-item end-->
            </div>
        </div>
        <div class="hex-bg"><span class="hex hex1"></span><span class="hex hex2"></span><span class="hex hex3"></span></div>
        <div class="hex-bg hex-bg2"><span class="hex hex1"></span><span class="hex hex2"></span><span class="hex hex3"></span></div>
    </section>

</div>
{% endblock %}