{% extends 'baseapp/category/base_category.html' %}

{% load static %}

{% block title %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{% endif %}{% endblock %}
{% block keywords %}{% if page.meta_keywords %}{{ page.meta_keywords }}{% else %}{% endif %}{% endblock %}
{% block description %}{% if page.meta_description %}{{ page.meta_description }}{% else %}{% endif %}{% endblock %}

{% block content %}
<div class="content">

    <section class="no-padding" data-scrollax-parent="true">
        <div class="parallax-inner page-title-wrap">
            <div class="bg" data-bg="{% static 'images/as_banner/3.jpg' %}" data-scrollax="properties: { translateY: '40%' }"></div>
            <div class="parallax-wrap">
                <div class="container">
                    <div class="page-title">
                        <h3>Политика конфиденциальности персональной информации</h3>
                    </div>
                    <div class="hero-scroll-down-notifer  ">
                        <div class="scroll-down-wrap ">
                        </div>
                    </div>
                    <div class="pw_dec"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="breadcrumbs fl-wrap">
        <div class="container">
            <div class="breadcrumbs-list">
                <a href="{% url 'show_index_page' %}">Главная</a><span>Политика конфиденциальности персональной информации</span>
            </div>
        </div>
    </div>


    <section class="gray-bg small-top_padding  stp-bot">
        <div class="hex-bg"><span class="hex hex1"></span><span class="hex hex2"></span><span class="hex hex3"></span></div>
        <div class="container">
            <div class="row fl-det">
                <!-- sidebar -->
                <div class="col-md-3">
                    <div class="widget-sidebar fix-bar">
                        <ul class="serv-nav scroll-init">
                            <li><a href="#sec1" class="act-scrlink">ОБЩИЕ ПОЛОЖЕНИЯ</a></li>
                            <li><a href="#sec2">ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</a></li>
                            <li><a href="#sec3">ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</a></li>
                            <li><a href="#sec4">ХРАНЕНИЕ И ИСПОЛЬЗОВАНИЕ COOKIE-ФАЙЛОВ</a></li>
                            <li><a href="#sec5">ПЕРСОНАЛЬНЫЕ ДАННЫЕ ДЕТЕЙ</a></li>
                            <li><a href="#sec6">СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</a></li>
                            <li><a href="#sec7">ПРАВА И ОБЯЗАТЕЛЬСТВА СТОРОН</a></li>
                            <li><a href="#sec8">МАРКЕТИНГОВЫЕ EMAIL-РАССЫЛКИ И РЕКЛАМНЫЕ ПРЕДПОЧТЕНИЯ</a></li>
                            <li><a href="#sec9">ПЕРЕДАЧА ПЕРСОНАЛЬНЫХ ДАННЫХ</a></li>
                            <li><a href="#sec10">ОТВЕТСТВЕННОСТЬ СТОРОН</a></li>
                            <li><a href="#sec11">РАЗРЕШЕНИЕ СПОРОВ</a></li>
                            <li><a href="#sec12">ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- sidebar end-->
                <div class="col-md-9">
                    <div class="det-box fl-wrap">
                        <div class="det-box-ietm det-box-ietm_single fl-wrap">

                            <div class="scr_content fl-wrap" id="sec0">
                                <p>
                                    Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в
                                    отношении всей информации, которую получает Администрация сайта «vorotaguru.ru», а именно ООО «АВР» (308015, область 
                                    Белгородская г. Белгород ул. Чичерина д.1А.), расположенный на доменном имени vorotaguru.ru, может получить о Пользователе 
                                    во время использования сайта vorotaguru.ru и всех его поддоменов, программ и продуктов Интернет-сайта.
                                </p>
                                <p>
                                    Администрация сайта vorotaguru.ru руководствуется законодательством Российской Федерации, а также принимает во внимание 
                                    условия и принципы Регламента 2016/679 Европейского парламента и Совета Европейского союза от 26 апреля 2016 года о защите 
                                    физических лиц при обработке персональных данных и о свободном движении персональных данных, и об отмене Директивы 95/46/EC (далее – «Регламент GDPR»).
                                </p>    
                            </div>
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec1">
                                <h3> ОБЩИЕ ПОЛОЖЕНИЯ.  ОСНОВНЫЕ ПОНЯТИЯ</h3>
                                <p>
                                    Настоящая Политика конфиденциальности применяется только к сайту vorotaguru.ru и его поддоменам. Интернет-сайт не контролирует 
                                    и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте vorotaguru.ru и его поддоменах.
                                </p>
                                <p>
                                    Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта vorotaguru.ru и собирает только те персональные данные, которые необходимы для достижения целей.
                                </p>
                                <p>
                                    Использование Пользователем сайта vorotaguru.ru и его поддоменов означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
                                </p>
                                <p>
                                    В случае несогласия с условиями настоящей Политики конфиденциальности Пользователь должен прекратить использование сайта vorotaguru.ru и его поддоменов.
                                </p>
                                <p>
                                    В настоящей Политике конфиденциальности используются следующие термины: 
                                </p>
                                <p>
                                    «Администрация сайта vorotaguru.ru (далее – Администрация сайта)» – уполномоченные сотрудники на управления сайтом, действующие от имени ООО «ABP», которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                                </p>    
                                <p>
                                    «Персональные данные» - любая информация, относящаяся к идентифицированному или идентифицируемому физическому лицу ("субъект данных"); идентифицируемое лицо - это лицо, которое может быть идентифицировано, прямо или косвенно, в частности, посредством таких идентификаторов как имя, идентификационный номер, сведения о местоположении, идентификатор в режиме онлайн или через один или несколько признаков, характерных для физической, психологической, генетической, умственной, экономической, культурной или социальной идентичности указанного физического лица;
                                </p>
                                <p>
                                    «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                                </p>
                                <p>
                                    «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                                </p>
                                <p>
                                    «Пользователь сайта vorotaguru.ru (далее Пользователь)» – любое физическое лицо, имеющее доступ к Сайту, посредством сети Интернет и использующей vorotaguru.ru и его поддомены.
                                </p>
                                <p>
                                    «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
                                </p>
                                <p>
                                    «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
                                </p>
                                <p>
                                    «Поддомен» — домен, являющийся частью домена более высокого уровня.
                                </p>
                                <p>
                                    «Сайт» - интернет-сайт Компании: «vorotaguru.ru».
                                </p>
                                <p>
                                    "Файловая система" - любой структурированный набор персональных данных, доступных в соответствии с определенными критериями, вне зависимости от того используется ли при этом централизованный, децентрализованный, функциональный или географический принцип.
                                </p>
                                <p>
                                    
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec2">
                                <h3> ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h3>
                                <p>
                                    Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта vorotaguru.ru и его поддоменов по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте или при оформлении заказа для приобретения Товара.
                                </p>
                                <p>
                                    Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения форм на сайте vorotaguru.ru в разделе оставить заявку, задать вопрос специалисту, Письмо директору, оставить отзыв, Регистрация на форуме и включают в себя:
                                </p>
                                <ol class="as-policy-list-dot">
                                    <li class="as-policy-li-left">номера телефона</li>
                                    <li class="as-policy-li-left">фамилию; имя; отчество</li>
                                    <li class="as-policy-li-left">электронную почты (E-mail)</li>
                                    <li class="as-policy-li-left">адрес для корреспонденции</li>
                                    <li class="as-policy-li-left">регион</li>
                                    <li class="as-policy-li-left">компания</li>
                                    <li class="as-policy-li-left">должность</li>
                                </ol>
                                <p>
                                    Интернет-сайт защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):
                                </p>

                                <ol class="as-policy-list-dot">
                                    <li class="as-policy-li-left">IP адрес</li>
                                    <li class="as-policy-li-left">информация из cookies</li>
                                    <li class="as-policy-li-left">информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы)</li>
                                    <li class="as-policy-li-left">время доступа</li>
                                    <li class="as-policy-li-left">адрес страницы, на которой расположен рекламный блок</li>
                                    <li class="as-policy-li-left">реферер (адрес предыдущей страницы)</li>
                                </ol>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec3">
                                <h3> ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ</h3>
                                <p>
                                    Администрация сохраняет персональные данные только в течение времени, необходимого для реализации целей, в которых такие данные собирались, включая период, указанный в этой Политике конфиденциальности, либо период, установленный законодательством.
                                </p>    
                                <p>
                                    Мы будем хранить ваши персональные данные в течение периода, необходимого для реализации целей, перечисленных в данной Политике конфиденциальности. При оценке длительности таких периодов хранения мы сначала выясняем, необходимо ли нам хранить собранные персональные данные, и если это необходимо, то стараемся сократить период хранения до минимума, разрешенного законодательством.
                                </p>
                                <p>
                                    Персональные данные Пользователя Администрация сайта vorotaguru.ru может использовать в следующих целях:
                                </p>
                                <ol class="as-policy-list-dot">
                                    <li class="as-policy-li-left">Идентификации Пользователя, зарегистрированного на сайте vorotaguru.ru, для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом с vorotaguru.ru.</li>
                                    <li class="as-policy-li-left">Предоставления Пользователю доступа к персонализированным ресурсам vorotaguru.ru и его поддоменах.</li>
                                    <li class="as-policy-li-left">Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта vorotaguru.ru, оказания услуг, обработка запросов и заявок от Пользователя.</li>
                                    <li class="as-policy-li-left">Создания учетной записи для совершения покупок.</li>
                                    <li class="as-policy-li-left">Уведомления Пользователя Сайта vorotaguru.ru о состоянии Заказа.</li>
                                    <li class="as-policy-li-left">Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта vorotaguru.ru.</li>
                                    <li class="as-policy-li-left">Предоставления Пользователю, при условии согласия пользователя на такую рассылку, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Интернет-сайта.</li>
                                    <li class="as-policy-li-left">Осуществления рекламной деятельности с согласия Пользователя.</li>
                                    <li class="as-policy-li-left">Предоставления доступа Пользователю на сайты с целью получения продуктов, обновлений и услуг.</li>
                                    <li class="as-policy-li-left">В целях улучшения работы веб-сайта.</li>
                                    
                                </ol>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec4">
                                <h3> ХРАНЕНИЕ И ИСПОЛЬЗОВАНИЕ COOKIE-ФАЙЛОВ</h3>
                                <p>
                                    В зависимости от настроек Вашего веб-браузера мы собираем информацию, которая автоматически передается нам браузером, когда вы посещаете наши сайты. Эта передача осуществляется посредством cookie-файлов. Данная информация, как правило, включает IP-адрес, в настоящее время присвоенный вашему компьютеру, тип вашей операционной системы и используемого веб-браузера.
                                </p>
                                <p>
                                    Сеансовые cookie-файлы не требуют Вашего предварительного согласия, так как они необходимы для работы сайта и будут удалены после закрытия веб-браузера.
                                </p>
                                <p>
                                    Постоянные cookie-файлы, которые отслеживают ваши прошлые действия и предпочтения, но не являются необходимыми для работы сайта, требуют Вашего предварительного согласия. Посещая наш сайт, Вы соглашаетесь на использование постоянных cookie-файлов, если не измените настройки своего компьютера, чтобы эти cookie-файлы не сохранялись. То же самое относится к cookie-файлам третьих сторон.
                                </p>
                                <p>
                                    Если Вы не хотите, чтобы vorotaguru.ru использовала файлы cookie, Вы можете их отключить. Если вы хотите отключить файлы cookie в веб-браузере Safari, выберите в настройках конфиденциальности Safari параметр «Блокировать все cookie». Если Вы используете другой веб-браузер, обратитесь к своему поставщику услуг за сведениями об отключении файлов cookie.
                                </p>
                                <p>
                                    Отключение cookies может повлечь невозможность доступа к частям сайта Интернет-сайта, требующим авторизации.
                                </p>
                                <p>
                                    Интернет-сайт vorotaguru.ru осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых действий.
                                </p>
                                <p>
                                    Для обработки cookies мы используем следующие программы Google Analytics, Яндекс.Метрика.
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec5">
                                <h3>ПЕРСОНАЛЬНЫЕ ДАННЫЕ ДЕТЕЙ</h3>
                                <p>
                                    Персональные данные детей, не достигших 16 лет, Администрацией сайта не обрабатываются, а в случае их выявления подлежат немедленному уничтожению.
                                </p>
                                <p>
                                    Любое лицо младше 16 лет должно получить разрешение своего родителя, законного представителя или опекуна, прежде чем использовать или сообщать любые персональные данные.
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content   fl-wrap" id="sec6">
                                <h3>СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h3>
                                <p>
                                    Обработка персональных данных осуществляется на законной и справедливой основе;
                                </p>
                                <p>
                                    Обработка персональных данных ограничивается достижением конкретных, заранее определённых и законных целей или до получения от пользователя заявления на удаление персональных данных. По истечению срока хранения персональные данные обезличиваются или уничтожаются. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных;
                                </p>
                                <p>
                                    Обработка персональных данных Пользователя осуществляется любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
                                </p>
                                <p>
                                    В тех ситуациях, когда Администрация сайта использует в качестве основания для обработки персональных данных пользователя его согласие, пользователь данных имеет право в любой момент отозвать данное им согласие. В каждом согласии на обработку персональных данных, которое пользователь предоставляет Администратору, предусмотрен порядок его отзыва — если пользователь хочет отозвать какое-либо из согласий, данных им ранее, то он может воспользоваться порядком, непосредственно предусмотренным в таком согласии.
                                </p>
                                <p>
                                    Администрация сайта не предоставляет и не раскрывает сведения, содержащие персональные данные субъектов, третьей стороне без письменного согласия субъекта персональных данных, за исключением случаев, когда это необходимо в целях предупреждения угрозы жизни и здоровью, а также в случаях, установленных федеральными законами.
                                </p>
                                <p>
                                    Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                                </p>
                                <p>
                                    При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных в сроки, установленные законодательством РФ.
                                </p>
                                <p>
                                    Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                                </p>
                                <p>
                                    Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec7">
                                <h3>ПРАВА И ОБЯЗАТЕЛЬСТВА СТОРОН</h3>
                                <p>
                                    Каждый Пользователь имеет право:
                                </p>
                                <ol class="as-policy-list-num">
                                    <li class="as-policy-li-left">Обновлять, дополнять предоставленные персональные данные в случае их изменения.</li>
                                    <li class="as-policy-li-left">Получать информацию касательно обработки его персональных данных, путем направления запроса Администрации сайта.</li>
                                    <li class="as-policy-li-left">Инициировать ограничение обработки всех или части своих персональных данных.</li>
                                    <li class="as-policy-li-left">Потребовать удалить (если отсутствуют имеющие преимущественную юридическую силу законные основания для обработки его данных) свои персональные данные из систем  если персональные данные больше не требуются для целей, в которых они были получены, пользователь данных отзывает свое согласие, на основании которого производилась обработка, если отсутствует иное правовое основание для обработки, пользователь данных возражает против обработки его персональных данных, персональные данные обрабатываются незаконно.</li>
                                    <li class="as-policy-li-left">Возразить против обработки части или полного перечня своих персональных данных в целях, указанных при предоставлении своих персональных данных;</li>
                                    <li class="as-policy-li-left">Потребовать ограничить обработку его персональных данных в целях рекламных предложений.</li>
                                    <li class="as-policy-li-left">Обращаем внимание, законодательство о защите прав физических лиц персональных данных, не содержат права на переносимость данных. Ввиду вышесказанного Администрация сайта не обязана отвечать на подобные запросы субъектов персональных данных до тех пор, пока такие обязанности не будут нормативно установлены в российском законодательстве.</li>
                                    <li class="as-policy-li-left">Отозвать своё согласие на обработку персональных данных, способом, указанным в таком согласии.</li>
                                </ol>
                                <p>
                                    Каждый Пользователь имеет право:
                                </p>
                                <ol class="as-policy-list-num">
                                    <li class="as-policy-li-left">Использовать полученную информацию исключительно для целей, указанных в настоящей Политики конфиденциальности.</li>
                                    <li class="as-policy-li-left">Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением случаев предусмотренных настоящей Политикой Конфиденциальности.</li>
                                    <li class="as-policy-li-left">Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.</li>
                                    <li class="as-policy-li-left">Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя, или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</li>
                                </ol>
                                <p>
                                    В случае возникновения вопросов, предложений или намерения реализовать свои права в отношении персональных данных вы можете связаться с нами по следующим контактным данным:<br>
                                    Адрес: 308015, область Белгородская г. Белгород ул. Чичерина д.1А.<br>
                                    Телефон: +79040804922<br>
                                    E-mail: avr.31bel@yandex.ru<br>
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec8">
                                <h3>МАРКЕТИНГОВЫЕ EMAIL-РАССЫЛКИ И РЕКЛАМНЫЕ ПРЕДПОЧТЕНИЯ</h3>
                                <p>
                                    С вашего согласия мы можем отправлять вам маркетинговые письма. Согласие, о котором здесь идёт речь, должно предоставляться добровольно, осознанно и однозначно. Эти требования считаются выполненными, если вы отмечаете пункт о согласии на получение маркетинговых писем (даёте активное согласие).
                                </p>
                                <p>
                                    Вы всегда можете возразить против использования ваших персональных данных в целях прямого маркетинга без необходимости предоставлять причину такого возражения, по предварительному запросу и бесплатно. Вы можете сделать это, нажав на ссылку «Отписаться» в любом из полученных от нас писем, или написав нам по адресу avr.31bel@yandex.ru Если вы выразите своё возражение, ваши персональные данные больше не будут использоваться в целях прямого маркетинга.
                                </p>
                                <p>
                                    Маркетинговые письма содержат информацию, которая, по нашему мнению, может быть вам интересна, например, новости о наших продуктах и услугах.
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec9">
                                <h3>ПЕРЕДАЧА ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
                                <p>
                                    Администрация сайта передает персональные данные третьим сторонам только при следующих обстоятельствах:
                                </p>
                                <ol class="as-policy-list-num">
                                    <li class="as-policy-li-left">если пользователь дал на это согласие;</li>
                                    <li class="as-policy-li-left">если цель этой передачи данных напрямую связана с целью, для достижения которой персональные данные собирались изначально;</li>
                                    <li class="as-policy-li-left">если это необходимо для подготовки, уточнения и исполнения договора;</li>
                                    <li class="as-policy-li-left">если это требуется законом, административным или судебным распоряжением;</li>
                                    <li class="as-policy-li-left">если это требуется для обоснования или защиты исковых заявлений или для защиты судебного иска;</li>
                                    <li class="as-policy-li-left">если это необходимо для выполнения правомерного требования органов государственной власти, в том числе служб национальной безопасности и правоохранительных органов;</li>
                                    <li class="as-policy-li-left">если это требуется для предупреждения злоупотребления или иных неправомерных действий, например, скоординированных атак, с целью обеспечения сохранности данных;</li>
                                </ol>
                                <p>
                                    Мы можем передавать ваши персональные данные, в том числе трансгранично, строго при соблюдении требований законодательства.
                                </p>
                                <p>
                                    Периодически передаём полномочия на ведение деятельности от нашего имени другим компаниям и бизнес-партнёрам, работающим в пределах и за пределами Европейской экономической зоны, например, юридическим представителям с целью исполнения договоров или достижения целей для которых предоставлялись персональные данные.
                                </p>
                                <p>
                                    Бизнес-партнёры получают только те персональные данные, которые требуются им для достижения целей или исполнения договоров. Администрация сайта не разглашает персональные данные третьим лицам для того, чтобы у них появилась возможность рекламировать вам свои продукты или услуги.
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec10">
                                <h3>ОТВЕТСТВЕННОСТЬ СТОРОН</h3>
                                <p>
                                    Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных настоящей Политики Конфиденциальности.
                                </p>
                                <p>
                                    В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
                                </p>
                                <p>
                                    Стала публичным достоянием до её утраты или разглашения.
                                </p>
                                <p>
                                    Была получена от третьей стороны до момента её получения Администрацией сайта.
                                </p>
                                <p>
                                    Была разглашена с согласия Пользователя.
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec11">
                                <h3>РАЗРЕШЕНИЕ СПОРОВ</h3>
                                <p>
                                    До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                                </p>
                                <p>
                                    Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                                </p>
                                <p>
                                    При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
                                </p>
                                <p>
                                    К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
                                </p>
                            </div>
                            <!-- scr_content end-->
                            <!-- scr_content  -->
                            <div class="scr_content fl-wrap" id="sec12">
                                <h3>РАЗРЕШЕНИЕ СПОРОВ</h3>
                                <p>
                                    Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                                </p>
                                <p>
                                    Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте vorotaguru.ru, если иное не предусмотрено новой редакцией Политики конфиденциальности.
                                </p>
                                <p>
                                    Все предложения или вопросы по настоящей Политике конфиденциальности следует направлять на электронную почту по адрес <a href="email:avr.31bel@yandex.ru">avr.31bel@yandex.ru</a>.
                                </p>
                                <p>
                                    Действующая Политика конфиденциальности размещена на странице по адресу <a href="https://vorotaguru.ru/privacy-policy/" target="_blank">https://vorotaguru.ru/privacy-policy/</a>.
                                </p>
                            </div>
                            <!-- scr_content end-->
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="limit-box"></div>
    </section>



</div>    

{% endblock %}